<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chiclaim.android8.change">

    <!-- 定义权限 -->
    <permission android:name="com.chiclaim.android.permission.receiver.permission"/>
    <!-- 使用刚刚定义的权限 -->
    <uses-permission android:name="com.chiclaim.android.permission.receiver.permission"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 系统的粘性广播权限 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 在 manifest 中注册隐式广播接收者，无法接收到广播 -->
        <receiver android:name=".NetworkChangeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".TransparentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentDialogStyle"/>

        <receiver
            android:name=".StickyBroadcastReceiver"
            android:exported="false"
            android:permission="com.chiclaim.android.permission.receiver.permission">
            <intent-filter>
                <action android:name="com.chiclaim.android.permission.receiver.action"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>